<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="tempSystem">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app1.js"> </script>
    <title> Oculid temperture system </title>
  </head>
  <body>
    <h1> welcome to oculid temperature system</h1>

    <div ng-controller="tempReading">
      <div>
        please insert your desire room temperature:
        <div>
          <input type="text" ng-model="temperature" ng-keyup = "publish();">
          <!--you typed {{name}} onClick=publish() -->
           <input type="button" value="send" onClick=publish()>
        </div>
        <div>
          <h2>please turn the the heating to state :{{required_heating}}</h2>
        </div>
      </div>
    </div>
  </body>
</html>
