<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="tempSystem">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app1.js"> </script>
    <title> Oculid temperture system </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <h1 class="shadow text3"> welcome to oculid temperature system</h1>

    <div class="shadow text1" ng-controller="tempReading">
      <div>
        please insert your desire room temperature:
        <div>


          <form method="POST">
            <input name="text">
            <input type="submit">
          </form>

          <!--you typed {{name}} onClick=publish()
          <input type="text" ng-model="temperature" ng-keyup = "publish();">
           <input type="button" value="send" onClick=publish()>-->
        </div>
        <div>
          <h2 class="shadow text1">please turn the the heating to state :{{required_heating}}</h2>
        </div>
      </div>
    </div>
  </body>
</html>
