<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> input error </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1 class="shadow text3"> input is either not an integer or not between 10 to 30 </h1>
    <h2 class="shadow text2"> try again</h2>
</body>
</html>